{% extends "app/layout.html" %}

{% block content %}

<div class="jumbotron">
    <h1>Welcome</h1>
    <p class="lead">This is a service to consolidate a number of the IT and network items we use.
        This is really more of an experiment to see what types of functionality I can include into a "family" domain.
    </p>
    <p><a href="/login/" class="btn btn-primary btn-large">Login for more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>NAS Server Access</h2>
        <p>
            We'll be able to access the NAS server confiruration website.
            While this does not immediatly allow access to the contents of the NAS that will eventually
            be implemented.

            We could entertain setting up family access to certain files via this website too.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Security Server</h2>
        <p>Access the server to manage the IP cameras including live view, footage review and server configuration. </p>
    </div>
    <div class="col-md-4">
        <h2>Minecraft Server</h2>
        <p>A link to our minecraft server</p>
    </div>
</div>

{% endblock %}
